Import the data generated by doppelGANger.

In [9]:
import numpy as np
import pandas as pd
seq_len = 130 
features = np.load('synthetic data/doppelGANger/features_600.npy')
attributes = np.load('synthetic data/doppelGANger/attributes_600.npy')
attributes = np.expand_dims(attributes, axis=1)
attributes = np.repeat(attributes, seq_len, axis=1)
dp_generated_data = np.dstack((features, attributes))
ori_data_attributes = np.load('synthetic data/doppelGANger/ori_attributes_prism.npy')
ori_data_features = np.load('synthetic data/doppelGANger/ori_features_prism.npy')
ori_data_attributes = np.expand_dims(ori_data_attributes, axis=1)
ori_data_attributes = np.repeat(ori_data_attributes, seq_len, axis=1)
dp_ori_data=np.dstack((ori_data_features, ori_data_attributes))

In [10]:
def JoinTimeSequence(a,columns = None):
    import pandas as pd
    no,time_seq,dimension = a.shape
    a = a.reshape((no*time_seq,dimension))
    if columns is not None:
        import pandas as pd
        df = pd.DataFrame(a, columns = columns)
        return df
    else:
        return a

In [36]:
dp_columns =['dday', 'weight', 'height', 'age', 'temp']
dp_gen_data_noid_3 = dp_generated_data[:,:,:5]
dp_gen_df = JoinTimeSequence(dp_gen_data_noid_3, columns = dp_columns)
dp_ori_data_noid_3 = dp_ori_data[:,:,:5]
dp_ori_df = JoinTimeSequence(dp_ori_data_noid_3, columns = dp_columns)

         dday  weight  height    age  temp
0         0.0    64.0   164.0  33.76  36.8
1       263.0    66.0   164.0  34.00  36.5
2        29.0    67.0   164.0  34.08  36.9
3        61.0    67.0   164.0  34.25  37.0
4        91.0    70.0   164.0  34.50  36.7
...       ...     ...     ...    ...   ...
175105    0.0     0.0     0.0   0.00   0.0
175106    0.0     0.0     0.0   0.00   0.0
175107    0.0     0.0     0.0   0.00   0.0
175108    0.0     0.0     0.0   0.00   0.0
175109    0.0     0.0     0.0   0.00   0.0

[175110 rows x 5 columns]

In [38]:
dp_gen_df.to_csv('synthetic data/doppelGANger/dp_gen.csv',index=False)
dp_ori_df.to_csv('synthetic data/doppelGANger/dp_ori.csv',index=False)

Import TGANs data.

In [39]:
tgan_ori_df = pd.read_csv('synthetic data/TGAN/cat_time_10visits_all_noid.csv')
tgan_columns = (tgan_ori_df.keys()).tolist()
tgan_gen_data = np.load('synthetic data/TGAN/gen_cat_time_10visits_wl_5000it.npy')
tgan_gen_df = JoinTimeSequence(tgan_gen_data,columns = tgan_columns)

In [40]:
tgan_gen_df.to_csv('synthetic data/TGAN/tgan_gen.csv',index = False)
tgan_ori_df.to_csv('synthetic data/TGAN/tgan_ori.csv',index = False)